/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p,
fieldset, label, textarea,
span, article, footer, time, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.tall {
  height: 100%;
}

.home-page {
  height: 100%;
}

ul {
 list-style: none;
}

img {
 display: block;
 width: 100%;
 height: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body, h1, h2, h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
}

.home-page {
  background: image-url("home_backgrounds_01.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

.blackout {
  opacity: 1;
  transition: opacity 200ms 100ms ease;

  visibility: visible;

  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.85);
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.logo {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  width: 270px;
  height: 170px;
  background-size: 290px auto;
  background-position: 0 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-header, {
  color: #fff;
  font-size: 35px;
  line-height: 36px;
  opacity: .9;
  text-align: center;
  font-weight: 100;
  padding-top: 36px;
  margin-bottom: -8px;
}

.login-message {
  color: rgba(255,255,255,.9);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.login-form {
  display: inline-block;
  width: 400px;
}

.inside-login-form {
  margin-top: -17px;
  /*padding: 18px;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
  display: block;
  font-weight: 300;
}

.login-input-email {
  background-image: image-url("reg-sa989232d16.png");
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: 7.5px -143.5px;
}

.login-input-password {
  background-image: image-url("reg-sa989232d16.png");
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: 7.5px -242.5px;
}

.login-input-name {
  background-image: image-url("reg-sa989232d16.png");
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: 7.5px -539.5px;
}

.arrow {
  margin-left: 13px;
  width: 48px;
  height: 32px;
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
  background-image: image-url("login-s97928a4df8.png");

  background-repeat: no-repeat;
  background-size: 190px auto;
}

input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;



  width: 90%;
  box-sizing: border-box;
  padding: 8px 8px 8px 32px;
  margin: 8px;
  background: rgba(45,162,157,.6);
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  box-shadow: none;
  outline:none;
}

.login-button {
  margin: 17px 0;
  padding: 8px 0;
  font-size: 38px;
  vertical-align: middle;
  color: #2da29d;
  transition: background-color 200ms ease,color 200ms ease;
  cursor: pointer;
  font-weight: 100;
  background: 0 0;
  border: none;
  align-items: flex-start;
  text-align: center;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
}

.header-button {
  width: 250px;
}

#guest {
  width: 150px;
  padding: 6px;
}

#logout {
  width: 80px;
  padding: 6px;
}

.header {
  background: #223146;
  height: 45px;
  display: block;
  margin-right: auto;
  color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.logo-link {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: 140px auto;
  background-position: -5px 4px;
  height: 45px;
  display: block;
  float: left;
  width: 125px;
}

.top-nav {
  float: right;
}

.welcome, .header-button {
  float: left;
}

.welcome {
  margin-top: 5px;
  margin-right: 5px;
}

.header-name, .header-favorites {
  text-align: right;
}

.header-favorites {
  color: #2DA29D;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

.logged-in {
  min-height: 100%;
  background-size: 100%;
  background-image: radial-gradient(farthest-corner at 45px 45px , #395175 0%, #8491A5 100%);
  position: relative;
}

.demo-page {
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: calc(100% - 45px);
  width: 100%;
}

.left-nav-outer {
  width: 70px;
  float: left;
}

.left-nav-button {
  width: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 39px;
  cursor: pointer;
  display: block;
}

// #bot-bord {
//   border-bottom: rgba(176,182,182,0.2) solid 1px;
// }

#left-nav-dashboard {
  background-color: transparent;
  background-image: image-url("nav-sa86d591523.png");
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: 10px -356px;
  margin-left: auto;
  margin-right: auto;

  border-bottom: rgba(176,182,182,0.2) solid 1px;
}

#left-nav-dashboard.current {
  background-position: 10px -386px;
}

#left-nav-segmentation {
  background-color: transparent;
  background-image: image-url("nav-sa86d591523.png");
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: 10px -602px;
  margin-left: auto;
  margin-right: auto;

  border-bottom: rgba(176,182,182,0.2) solid 1px;
}

#left-nav-segmentation.current {
  background-position: 10px -635px;
}

#left-nav-bookmarks {
  background-color: transparent;
  background-image: image-url("nav-sa86d591523.png");
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: 10px -217px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#left-nav-bookmarks.current {
  background-position: 10px -253px;
}

.no-queries {
  display: inline-block;
  padding: 27px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  float: left;
  width: calc(33% - 20px);
  height: 75px;
  background-color: white;
  margin: 0 20px 20px 0;
}

.bm-list {
  margin-top: 7px;
}

.bm-query-logo-outer {
  float: left;
  height: 60%;
  margin: 16px;
}

.bm-query-logo-inner {
  display: inline-block;
  background-image: image-url("bookmarks-s3560ed5b7d.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 27px;
  background-size: 42px auto;
  background-position: 0 -408px;
}

.bookmark-item {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  float: left;
  width: calc(50% - 15px);
  min-width: 700px;
  height: 110px;
  background-color: #2DA29D;
  margin: 0 15px 15px 0;
  position: relative;
}

@media (max-width: 1504px) {
  .bookmark-item {
    width: calc(100% - 15px);
  }
}

.bm-item-main {
  height: 100%;
  width: calc(70% - 6px);
  float: left;
  background-color: white;
  border-radius: 3px;
}

.bookmark-item-name {
  float: left;
  padding-top: 17px;
  width: 80%;
  height: 100%;
  text-align: left;
  font-size: 18px;
}

.bm-query-options {
  float: right;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  width: 30%;
  height: 100%;
}

.bm-query-option {
  cursor: pointer;
  border-radius: 3px;
  background-color: #CBDFDF;
  margin: 3px;
}

.bm-query-option:hover {
  font-weight: bold;
}

.bm-query-option-logo {
  float: right;
  width: 26px;
  height: 26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: #2DA29D;
  border-radius: 3px;
}

.bm-query-option-text {
  float: right;
  font-size: 16px;
  text-align: right;
  padding: 4px;
  padding-right: 6px;
}

#bm-view-seg {
  margin-bottom: 5px;
}

#bm-view-seg-text {

}

#bm-view-seg-logo {
  background-image: image-url("bookmarks-s3560ed5b7d.png");
  background-size: 36px auto;
  background-position: 4px -315px;
}

#add-to-dash {
  margin-bottom: 5px;
}

#add-to-dash-text {

}

#add-to-dash-logo {
  background-image: image-url("nav-sa86d591523.png");
  background-size: 26px auto;
  background-position: 3px -363px;
}

#delete-query {

}

#delete-query-text {

}

#delete-query-logo {
  background-image: image-url("bookmarks-s3560ed5b7d.png");
  background-size: 37px auto;
  background-position: 3px -129px;
}

// .bookmark-item-name:hover, .add-to-dash:hover, .delete-query:hover, .bm-view-seg:hover {
//   font-weight: bold;
// }

.feature {
  float: left;
  width: calc(100% - 70px);
  height: 100%;
}

.dash-chart {
  float: left;
  display: inline-block;
  width: 550px;
  min-width: 515px;
  margin-bottom: 15px;
  margin-right: 15px;
  position: relative;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.empty-dash-chart {
  background-color: white;
  height: 265px;
}

@media (max-width: 1679px) {
  .dash-chart {
    width: calc(50% - 15px);
  }
}

@media (max-width: 1150px) {
  .dash-chart {
    width: calc(100% - 15px);
  }
}

@media (min-width: 1680px) {
  .dash-chart {
    width: calc(33.33% - 15px);
  }
}

.dash-seg {
  height: 265px;
}

.view-seg {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  // color: #838383;
  color: black;
}

.view-seg:hover {
  color: black;
  font-weight: bold;
}

.view-seg-text {
  float: left;
  font-size: 12px;
  padding-top: 5px;
}

.view-seg-logo {
  float: left;
  display: inline-block;
  background-image: url(/assets/bookmarks-s3560ed5b7d-9ee9ed977712bb4806555ba96061925248563cc84127f5b159486f9cfe705925.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;
  background-size: 22px auto;
  background-position: 0 -209px;
  margin-left: 7px;
}

.highcharts-container {
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.dash-charts {
  float: left;
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
}

#loading-dash-charts {
  position: absolute;
  top: 40px;
  left: 60px;
  right: 100px;
  background-color: black;
  opacity: 0.5;
  height: 450px;
  color: white;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.dash-head, .seg-head, .bm-head {
  color: white;
}

#dash-head-title, #seg-head-title, #bm-head-title {
  float: left;
  font-size: 20px;
  color: rgba(255,255,255,0.5);
  font-weight: lighter;
  letter-spacing: 1px;
}

#dash-head-right, #seg-head-right {
  float: right;
  font-size: 13px;
  color: rgba(255,255,255,0.75);
  font-weight: 400;
  padding-right: 20px;
  padding-top: 5px;
}

#dash-one, #dash-two, #dash-three, #dash-four {
  height: 265px;
}

.segmentation {
  height: calc(100% - 55px);
  width: calc(100% - 70px);
  position: absolute;
  padding-right: 5px;
}

.seg-body {
  width: 100%;
  margin-top: 8px;
  border-radius: 3px;
  position: relative;
  height: calc(100% - 59px);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.seg-query-chart {
  background-color: #29B0AB;
  float: left;
  width: calc(100% - 280px);
  height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.seg-query-bar {
  color: white;
  padding-bottom: 10px;
}

.seg-query-bar-inner {
  display: flex;
  flex-direction: column;
}

.seg-query-events {
  padding-top: 5px;
}

.seg-query-event-line {
  margin-top: 5px;
  padding-left: 5px;
}

.seg-query-event {
  display: inline-block;
  line-height: 18px;
  position: relative;
  background-color: white;
  color: #525252;
  border-radius: 2px;
  font-size: 11px;
  height: 25px;
  padding: 3px;
  padding-left: 26px;
  padding-right: 15px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 5px 0 0 5px;
  float: left;
}

.seg-query-event-property {
  display: inline-block;
  line-height: 18px;
  position: relative;
  background-color: white;
  color: #525252;
  border-radius: 2px;
  font-size: 11px;
  height: 25px;
  padding: 3px;
  padding-left: 26px;
  padding-right: 15px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 5px 0 0 5px;
  float: left;
}

.seg-query-event-property-icon {
  position: absolute;
  left: 5px;
  margin-top: 0px;
  background-image: image-url("query-s4ab1fdab27.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-size: 312px auto;
  background-position: 0 -1076px;
}

.seg-query-event-icon {
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: image-url("query-s4ab1fdab27.png");
  background-repeat: no-repeat;
  background-size: 312px auto;
  background-position: 0px -943px;
  left: 5px;
}

.event-remove, .property-remove {
  height: 9px;
  position: absolute;
  right: 3px;
  top: 8px;
  margin: 0;
  padding: 0;
  width: 9px;
  background-image: image-url("query-s4ab1fdab27.png");
  background-repeat: no-repeat;
  background-size: 312px auto;
  background-position: 0 -684px;
  cursor: pointer;
}

.by {
  font-size: 11px;
  color: rgba(255,255,255,0.5);
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  width: 45px;
  text-align: center;
  color: rgba(255,255,255,0.5);
  box-shadow: none;
  border: 1px dotted rgba(255,255,255,0.5);
  line-height: 18px;
  height: 25px;
  float: left;
  margin: 5px 0 0 5px;
  padding-top: 2px;
}

.query-header {
  height: 25px;
  margin: 0 10px;
  padding-top: 5px;
}

.seg-query-icon {
  margin-right: 10px;
  margin-bottom: 4px;
  background-image: image-url("nav-sa86d591523.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  background-size: 26px auto;
  background-position: 0 -610px;
  float: left;
}

.seg-query-title {
  width: 60%;
  margin: 0;
  color: white;

  background-color: #29B0AB;

  float: left;
  line-height: 22px;
  border: 1px dashed transparent;
  font-weight: normal;
  // padding-left: 7px;
  padding: 2px 2px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: text;
}

.seg-query-title:hover {
  border: dashed 1px rgba(255,255,255,0.3);
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.3);
}

.query-header-right {
  float: right;
}

.save-query {
  cursor: pointer;

  margin-top: 5px;
  margin-right: 10px;

  padding-right: 10px;

  color: rgba(255,255,255,0.5);
  font-size: 10px;
  padding-left: 20px;
  float: left;

  border-right: rgba(255,255,255,0.5) solid 1px;
}

.save-query:hover {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  cursor: default;
}

.modal-content {
  margin: 15% auto;
  width: 50%;
  font-size: 28px;
  font-weight: bold;
}

#bm-link {
  background-image: url(/assets/nav-sa86d591523-f7a558c26a135aa9a273847e94d53f14e604d038989cb63b903d9a24510364c3.png);
  background-repeat: no-repeat;
  background-size: 26px auto;
  padding-left: 42px;
  background-position: 11px -222px;
}

#bm-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reset {
  cursor: pointer;

  margin-top: 5px;
  margin-right: 5px;

  background-image: image-url("query-s4ab1fdab27.png");

  background-repeat: no-repeat;
  background-size: 312px auto;
  background-position: 0 -2855px;

  color: rgba(255,255,255,0.5);
  font-size: 10px;
  padding-left: 20px;
  float: left;
}

.reset:hover {
  background-position: 0 -2874.5px;
  color: white;
}

.drop-an-event {
  height: 35px;
}

.seg-chart-outer {
  // height: calc(100% - 67px);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#loading {
  // position: absolute;
  // top: 50;
  // left: 50;
  // right: 50;
  // bottom: 50;
  // opacity: 1;
  // background-color: 'black';
}

.seg-chart-inner {
  height: 100%;
  background-color: white;
  position: relative;
}

.no-event {
  position: absolute;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: initial;
  opacity: 1;
  color: rgb(207, 207, 207);
  top: 50px;
  right: 50px;
  left: 50px;
  bottom: 50px;
  font-weight: 300;
  text-align: center;
  background: white;
  border-color: rgba(207, 207, 207, 0.6);
  border-width: 8px;
  font-size: 90px;
  padding-bottom: 20px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-event-hover {
  position: absolute;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: initial;
  opacity: 1;
  color: #2DA29D;
  top: 50px;
  right: 50px;
  left: 50px;
  bottom: 50px;
  font-weight: 300;
  text-align: center;
  background: white;
  border-color: #2DA29D;
  border-width: 8px;
  font-size: 90px;
  padding-bottom: 20px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-event-messages {

}

.top-text {
  font-size: 24px;
  margin: 5px 150px;
}

.no-event-pic {
  background-image: image-url("query-s4ab1fdab27.png");
  width: 312px;
  height: 120px;
  background-size: 312px;
  margin: 2% auto;
  background-repeat: no-repeat;
  background-position: 0px -3674.5px;
}

.no-event-pic-hover {
  background-image: image-url("query-s4ab1fdab27.png");
  width: 312px;
  height: 120px;
  background-size: 312px;
  margin: 2% auto;
  background-repeat: no-repeat;
  background-position: 0px -3803.5px;
}

.bottom-text {
  font-size: 30px;
  font-weight: 500;
  color: rgb(156, 156, 156);
}

.bottom-text-hover {
  font-size: 30px;
  font-weight: 500;
  color: #2DA29D;
}

#seg-chart {
  height: 100%;
}

.seg-options {
  width: 280px;
  float: left;
  background-color: #2DA29D;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
}

.right-nav {
  position: relative;
  height: 100%;
}

.right-nav-data {
  width: calc(100% - 30px);
  background-color: #CBDFDF;
  height: calc(100% - 36px);
}

.right-nav-menu {
  width: 30px;
  position: absolute;
  right: 0;
  top: 36px;
}

.menu-tabs {
  height: 100%;
}

.menu-tab {
  height: 36px;
  width: 100%;
  background-color: #2DA29D;
  cursor: pointer;
  padding-top: 9px;
}

.menu-tab.selected {
  background-color: #CBDFDF;
}

.menu-tab-pic {
  background-image: image-url("query-s4ab1fdab27.png");
  background-size: 312px;
  background-repeat: no-repeat;
  margin: auto;

  display: block;
}

.menu-0-pic {
  width: 16px;
  height: 18px;
  background-position: 0px -2279.5px;
}

.menu-0-pic.selected {
  background-position: 0px -2335.5px;
}

.menu-1-pic {
  height: 19px;
  width: 19px;
  background-position: 0px -2441.5px;
}

.menu-1-pic.selected {
  background-position: 0px -2499.5px;
}

.right-nav-header {
  line-height: 36px;
  padding-left: 32px;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  color: white;
  height: 36px;
  position: relative;
}

.right-nav-header-icon {
  background-image: image-url("query-s4ab1fdab27.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 18px;
  background-size: 312px auto;
  background-position: 0 -2307.5px;
  position: absolute;
  top: 9px;
  left: 10px;
}

.right-nav-header-text {
  text-align: left;

}

.right-navs {
  padding-top: 10px;
}

.seg-opt {
  border-radius: 2px 2px 2px 2px;
  position: relative;
  margin: 2px 0;
  display: inline-block;
  width: 90%;
  height: 24px;
  background-color: white;
  font-size: 11px;
  font-weight: 300;
  padding: 6px;
  color: black;
  text-align: left;
  padding-left: 28px;

  background-image: image-url("query-s4ab1fdab27.png");
  background-repeat: no-repeat;
  background-size: 312px auto;
  background-position: 4px -940px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.bot-nav {
  color: rgba(255,255,255,0.6);
  font-size: 10px;
  float: right;
  padding-bottom: 10px
}

.bot-nav-item {
  float: left;
  border-right: rgba(255,255,255,0.6) solid 1px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 7px;
  font-weight: 300;
}

#copyright {
  border-right: none;
}
